.App {
  text-align: center;
  height: 100%;
}

.container {
  width: 90%;
  display: block;
  margin: auto;
  height: 600px;
}

.topContainer{
  display: flex; 
  margin: auto;
  height: 300px;

}

.innerBox{
  width: 100% !important;
  height: auto;
  min-width: 0px !important;
  padding: 3px;
  overflow-y: auto;
  resize: none;
  border: solid 1px cadetBlue!important;
  border-top: none;
  border-bottom: none;
  position: absolute;
  bottom: 0px;
  top: 42px;
}

.innerBox > textarea{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
}

.innerBox > textarea:focus {
  outline: none;
}

.view{
  width: 99.99%;
  height: 300px;
  overflow: auto;
  border: solid 1px cadetBlue;
  border-top: none;
  position: relative;
}

.box-title{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px cadetblue;
}

.sectionContainer{
  height: 100%;
  width: 100%;
  position: relative;
}

.sectionContainer.html > .innerSectionContainer > .innerBox{
  border-right: solid 0px transparent !important;
}

.sectionContainer.html > .innerSectionContainer > .box-title{
  border-right: solid 0px transparent !important;
}

.sectionContainer.js > .innerSectionContainer > .innerBox{
  border-right: solid 0px transparent !important;
}

.sectionContainer.js > .innerSectionContainer > .box-title{
  border-right: solid 0px transparent !important;
}

.sectionContainer > .innerSectionContainer{
  width: 100%;
  height: 100%;
}

.horizontal-dragger{
  height: 100%;
  width: 10px;
  background-color: transparent;
  display: inline-flex;
  position: absolute;
  top: 0px;
  cursor: ew-resize;
  z-index: 3;
}

.vertical-dragger{
  height: 10px;
    width: 100%;
    background-color: transparent;
    display: inline-flex;
    position: absolute;
    top: 0px;
    cursor: ns-resize;
    z-index: 3;
    left: 0px;
}