.App {
  text-align: center;
  height: 100%;
}

.container {
  width: 90%;
  display: block;
  margin: auto;
}

.topContainer{
  display: flex; 
  margin: auto;
  height: 300px; 
  border-bottom: solid 1px cadetBlue;

}

.innerBox{
    width: 100% !important;
    height: 86%!important;
    min-width: 0px !important;
    padding: 5px;
    overflow-y: auto;
    resize: none;
    box-sizing: border-box !important;
    border: solid 1px cadetBlue!important;
    border-top: none !important;
    border-radius: 0px !important;
    min-height: 0px !important;
}

.view{
  width: 99.99%;
  height: 300px;
  overflow: auto;
  border: solid 1px cadetBlue;
  border-top: none;
}

.box-title{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px cadetblue;
}

.sectionContainer{
  height: 100%;
  width: 100%;
  position: relative;
}

.sectionContainer.html > div > .innerBox{
  border-right: solid 0px transparent !important;
}

.sectionContainer.html > div > .box-title{
  border-right: solid 0px transparent !important;
}

.sectionContainer.js > div > .innerBox{
  border-right: solid 0px transparent !important;
}

.sectionContainer.js > div > .box-title{
  border-right: solid 0px transparent !important;
}

.sectionContainer > div{
  width: 100%;
  height: 100%;
}

