.App {
  text-align: center;
  height: 100%;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.night {
  text-align: center;
  height: 100%;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
}

.night h1, .night h2, .night h3, .night p, .night div, .night textarea{
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.night .buttons{
  background-color: navy;
}

.night .buttonsContainer {
   background-color: transparent;
   transition: right 0.2s;
}

.night .buttonsContainer > div{
  background-color: transparent;
}

.night .view {
  background-color: white;
}

.night .viewMask{
  background-color: transparent;
}

.container {
  width: 90%;
  display: block;
  margin: auto;
  height: 650px;
  background-color: white;
}

.topContainer{
  display: flex; 
  margin: auto;
  height: 325px;
  width: 99.99%;

}

.innerBox{
  width: 100% !important;
    height: auto;
    min-width: 0px !important;
    padding: 3px;
    border: solid 1px cadetBlue!important;
    border-top: none;
    border-bottom: none;
    position: absolute;
    bottom: 0px;
    top: 46px;
}

.innerBox > textarea{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
}

.innerBox > textarea:focus {
  outline: none;
}

.view {
  overflow-y: hidden;
  width: 99.99%;
  height: 325px;
  overflow: auto;
  border: solid 1px cadetBlue;
  border-top: none;
  position: relative;
  padding-top: 10px;
  background-color: white;
}

.viewMask{
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: transparent;
  width: 100%;
}

.box-title-container{
  width: 100%;
  border: solid 1px cadetblue;
}

.box-title{
  width: 100%;
  font-size: 14px;
    margin: auto;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    transition: transform 0.2s;
    height: 45px;
}

.sectionContainer{
  height: 100%;
  width: 100%;
  position: relative;
}

.sectionContainer.html > .innerSectionContainer > .innerBox{
  border-right: solid 0px transparent !important;
}

.sectionContainer.html > .innerSectionContainer > .box-title{
  border-right: solid 0px transparent !important;
}

.sectionContainer.js > .innerSectionContainer > .innerBox{
  border-right: solid 0px transparent !important;
}

.sectionContainer.js > .innerSectionContainer > .box-title{
  border-right: solid 0px transparent !important;
}

.sectionContainer > .innerSectionContainer{
  width: 100%;
  height: 100%;
}

.horizontal-dragger{
  height: 100%;
    width: 10px;
    background-color: white;
    display: inline-flex;
    position: absolute;
    top: 0px;
    cursor: ew-resize;
    z-index: 3;
    border: solid 1px cadetblue;
}

.vertical-dragger{
  height: 10px;
    width: 100%;
    background-color: transparent;
    border-bottom: solid 1px cadetblue;
    display: inline-flex;
    position: absolute;
    top: 0px;
    cursor: ns-resize;
    z-index: 3;
    left: 0px;
}

.buttonsContainer{
  width: 40px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 40px;
  z-index: 100;
  position: absolute;
  width: 60px;
  transition: right 0.2s;
}

.buttons{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: navy;
  color: white;
  margin: auto;
  margin-top: 5px;
  animation: bubbleButtons 0.2s;
  position: relative;
}

.buttons .tooltiptext, .buttonsContainerTab .tooltiptext{
  visibility: hidden;
  width: 120px;
  height: 35px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: 114%;
  top: 10%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons .tooltiptext::after, .buttonsContainerTab .tooltiptext::after {
  content: "";
    position: absolute;
    top: 40%;
    right: -8%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: rotate(270deg);
}

.buttons:hover .tooltiptext, .buttonsContainerTab:hover .tooltiptext  {
  visibility: visible;
  opacity: 1;
}

@keyframes bubbleButtons{
  0%{
    transform: scale(0);
  } 85%{
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.buttonsContainerTab{
  border: solid 1px cadetblue;
    border-right: none;
    display: none;
    left: -30px;
    top: -1px;
    height: 40px;
    position: absolute;
    width: 30px;
    background-color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 1024px){
  .night .buttonsContainer{
    background-color: black;
  }
  .night .buttonsContainer > div{
    background-color: black;
  }
  .buttonsContainer{
    border: solid 1px cadetblue;
    min-height: 240px;
    background-color: white;
  }
  .buttonsContainerTab{
    display: flex;
    position: absolute;
  }
}

iframe {
  width: 100%;
  height: 100%;
}